In [1]:
import redis
import json
import pandas as pd
import numpy as np
import mysql.connector
import pymysql

Note: Run RELATIONAL TWITTER (USERS).ipynd file before running this file. RELATIONAL TWITTER (USERS).ipynd will create the user table that is important for this file

In [ ]:
"""
Top 10 users with the most followers worldwide (done)

Top 10 verified users in the USA  (done) -redis
Users with the most friends worldwide (done) - redis
Top 10 users with the most tweets (done) -redis
Users who have liked the most tweets (done)-redis
Most followed non-verified accounts (done) - redis
Top 10 users in a specific location (e.g., London, Tokyo) (done) - redis
Most active users in terms of tweet frequency (done) - redis
"""

In [19]:
#Top 10 users with the most followers worldwide (done)

MYSQL_HOST = "localhost"
MYSQL_USER = "root"
MYSQL_PASSWORD = "Admin"
MYSQL_DATABASE = "twitter_data_"

REDIS_HOST = "localhost"
REDIS_PORT = 6379
REDIS_DB = 0

def get_top_users_with_most_followers():
    r = redis.Redis(host=REDIS_HOST, port=REDIS_PORT, db=REDIS_DB)

    if r.exists("top_users_with_most_followers"):
        top_users = r.get("top_users_with_most_followers")
        top_users = json.loads(top_users)
        return top_users

    db = mysql.connector.connect(
        host=MYSQL_HOST, user=MYSQL_USER, password=MYSQL_PASSWORD, database=MYSQL_DATABASE
    )
    cursor = db.cursor()

    query = """
        SELECT screen_name, followers_count
        FROM users
        ORDER BY followers_count DESC
        LIMIT 10
    """
    cursor.execute(query)
    top_users = cursor.fetchall()

    top_users_dict = [{"screen_name": user[0], "followers_count": user[1]} for user in top_users]

    r.set("top_users_with_most_followers", json.dumps(top_users_dict))

    cursor.close()
    db.close()

    return top_users_dict

top_users = get_top_users_with_most_followers()
for user in top_users:
    print(f"{user['screen_name']}: {user['followers_count']} followers")

detikcom: 15884929 followers
la_patilla: 7121282 followers
skynewsarabia: 5652410 followers
virsanghvi: 4329132 followers
NTelevisa_com: 3047122 followers
repubblica: 2992272 followers
casspernyovest: 2702055 followers
OKAZ_online: 1789175 followers
andihiyat: 1774024 followers
Foro_TV: 1661077 followers

In [20]:
#Top 10 verified users in the USA (done)
import mysql.connector
import redis
import json

db = mysql.connector.connect(user='root', password='Admin', host='localhost', database="twitter_data_")
cursor = db.cursor()

query = """
    SELECT screen_name, location FROM users
    WHERE verified = TRUE AND 
    (location = 'USA' or location = 'USA')
    ORDER BY followers_count DESC
    LIMIT 10
"""
cursor.execute(query) 

# Get the result
users = cursor.fetchall()
for row in users:
        print(row)

r = redis.Redis(host='localhost', port=6379, db=0)

for user in users:
    # Convert user data to JSON
    user_json = json.dumps(user)

    # Add user data to a Redis set
    r.sadd('verified_users_in_usa', user_json)

print("Data loaded into Redis.")


all_users = r.smembers('verified_users_in_usa')

users = [json.loads(user) for user in all_users]
print(len(users))
for user in users:
    print(user)

Data loaded into Redis.
8
['BenSpielberg', 'California, USA']
['IdeaGov', 'USA ']
[2693015628, 'Marilyn', 'lucy_bconner', 'US', 6196, 6444, 48037, None, None, None, None, None, None, None, None, None, None]
['laurenscerulus', 'Brussels & Europe']
['kleinezeitung', 'Graz/Klagenfurt, Austria']
['ortatko', 'Texas, USA']
['isik_ebubekir', 'Brussels, Belgium']
[962224872498913280, 'Minucat', 'Minucat56', 'US', 22, 159, 425, None, None, None, None, None, None, None, None, None, None]

In [21]:
#Users with the most friends worldwide (done)

db = mysql.connector.connect(user='root', password='Admin', host='localhost', database="twitter_data_")
cursor = db.cursor()

query = """
    SELECT screen_name, location, friends_count FROM users 
    ORDER BY friends_count DESC LIMIT 10
"""
cursor.execute(query) 

users = cursor.fetchall()
for row in users:
        print(row)

r = redis.Redis(host='localhost', port=6379, db=0)

for user in users:
    user_json = json.dumps(user)

    r.sadd('top_10_users_with_most_friends', user_json)

print("Data loaded into Redis.")

all_users = r.smembers('top_10_users_with_most_friends')

users = [json.loads(user) for user in all_users]
print(len(users))
for user in users:
    print(user)

('RoyCampos', 'M√©xico City', 659218)
('takilsanaa', None, 126944)
('betterjobsearch', 'Chicago, IL', 96396)
('caval100', 'Madrid (Espa√±a)', 92285)
('koronasondk', 'Reklam ve ƒ∞≈ü birliƒüi i√ßin DM', 82009)
('Can2geterdone', 'Colorado', 75257)
('theyIive', "Don't believe what I tweet, research it.", 70055)
('SickOfTheSwamp', 'Texas ü§†', 69157)
('Enes_Cingoz', 'ƒ∞zmir, T√ºrkiye', 58000)
('pixelthebeast', None, 53678)
Data loaded into Redis.
10
['theyIive', "Don't believe what I tweet, research it.", 70055]
['Can2geterdone', 'Colorado', 75257]
['koronasondk', 'Reklam ve ƒ∞≈ü birliƒüi i√ßin DM', 82009]
['Enes_Cingoz', 'ƒ∞zmir, T√ºrkiye', 58000]
['pixelthebeast', None, 53678]
['RoyCampos', 'M√©xico City', 659218]
['SickOfTheSwamp', 'Texas ü§†', 69157]
['caval100', 'Madrid (Espa√±a)', 92285]
['betterjobsearch', 'Chicago, IL', 96396]
['takilsanaa', None, 126944]

In [22]:
#Top 10 users with the most tweets (done)

db = mysql.connector.connect(user='root', password='Admin', host='localhost', database="twitter_data_")
cursor = db.cursor()

query = """
    SELECT screen_name, statuses_count FROM users 
    ORDER BY statuses_count DESC LIMIT 10
"""
cursor.execute(query) 

users = cursor.fetchall()
for row in users:
        print(row)

r = redis.Redis(host='localhost', port=6379, db=0)

for user in users:
    user_json = json.dumps(user)

    r.sadd('top_10_users_with_most_tweets', user_json)

print("Data loaded into Redis.")

all_users = r.smembers('top_10_users_with_most_tweets')

users = [json.loads(user) for user in all_users]
print(len(users))
for user in users:
    print(user)

('la_patilla', 5132141)
('jornalistavitor', 2198168)
('scarletmonahan', 1899479)
('detikcom', 1631925)
('MarcoDaCostaFX', 1420281)
('ElsaKekita', 1312568)
('TommyBrain', 1188780)
('SteveBrookesMBE', 1173650)
('IacobellisT', 1093266)
('CityReport', 1014615)
Data loaded into Redis.
10
['detikcom', 1631925]
['MarcoDaCostaFX', 1420281]
['IacobellisT', 1093266]
['ElsaKekita', 1312568]
['jornalistavitor', 2198168]
['SteveBrookesMBE', 1173650]
['scarletmonahan', 1899479]
['CityReport', 1014615]
['TommyBrain', 1188780]
['la_patilla', 5132141]

In [23]:
#Users who have liked the most tweets (done)

db = mysql.connector.connect(user='root', password='Admin', host='localhost', database="twitter_data_")
cursor = db.cursor()

query = """
    SELECT screen_name, location, favourites_count FROM users 
    ORDER BY statuses_count DESC LIMIT 10
"""
cursor.execute(query) 

users = cursor.fetchall()
for row in users:
        print(row)

r = redis.Redis(host='localhost', port=6379, db=0)

for user in users:
    user_json = json.dumps(user)

    r.sadd('top_10_users_who_liked_most_tweets', user_json)

print("Data loaded into Redis.")

all_users = r.smembers('top_10_users_who_liked_most_tweets')

users = [json.loads(user) for user in all_users]
print(len(users))
for user in users:
    print(user)

('la_patilla', 'Venezuela', 595)
('jornalistavitor', 'Brasil', 131351)
('scarletmonahan', 'United Kingdom', 540338)
('detikcom', 'Jakarta, Indonesia', 270)
('MarcoDaCostaFX', 'StocksLand üíµüõ¢üîã‚õΩÔ∏è', 26118)
('ElsaKekita', None, 359544)
('TommyBrain', None, 19436)
('SteveBrookesMBE', 'Birmingham, England', 60399)
('IacobellisT', 'Bari, Puglia', 7801)
('CityReport', 'Potsdam', 2842)
Data loaded into Redis.
10
['jornalistavitor', 'Brasil', 131351]
['ElsaKekita', None, 359544]
['TommyBrain', None, 19436]
['CityReport', 'Potsdam', 2842]
['SteveBrookesMBE', 'Birmingham, England', 60399]
['IacobellisT', 'Bari, Puglia', 7801]
['la_patilla', 'Venezuela', 595]
['MarcoDaCostaFX', 'StocksLand üíµüõ¢üîã‚õΩÔ∏è', 26118]
['detikcom', 'Jakarta, Indonesia', 270]
['scarletmonahan', 'United Kingdom', 540338]

In [24]:
#Most followed non-verified accounts (done)

db = mysql.connector.connect(user='root', password='Admin', host='localhost', database="twitter_data_")
cursor = db.cursor()

query = """
    SELECT screen_name, location,followers_count  FROM users 
    WHERE verified = False
    ORDER BY statuses_count DESC LIMIT 10
"""
cursor.execute(query) 

users = cursor.fetchall()
for row in users:
        print(row)

r = redis.Redis(host='localhost', port=6379, db=0)

for user in users:
    user_json = json.dumps(user)

    r.sadd('Most_followed_non-verified_accounts', user_json)

print("Data loaded into Redis.")

all_users = r.smembers('Most_followed_non-verified_accounts')

users = [json.loads(user) for user in all_users]
print(len(users))
for user in users:
    print(user)

('jornalistavitor', 'Brasil', 35904)
('scarletmonahan', 'United Kingdom', 340772)
('MarcoDaCostaFX', 'StocksLand üíµüõ¢üîã‚õΩÔ∏è', 4299)
('ElsaKekita', None, 6983)
('TommyBrain', None, 2021)
('SteveBrookesMBE', 'Birmingham, England', 11534)
('IacobellisT', 'Bari, Puglia', 1645)
('CityReport', 'Potsdam', 2055)
('PParzival', 'Berlin', 3796)
('maria_andy2', 'MurrayLand.', 6077)
Data loaded into Redis.
20
['ElsaKekita', None, 6983]
['KelechiAFC', 'London, England', 46497]
['SteveBrookesMBE', 'Birmingham, England', 11534]
['jdpoc', 'London', 8344]
['PennyRed', 'London/Los Angeles', 180215]
['TommyBrain', None, 2021]
['PParzival', 'Berlin', 3796]
['IacobellisT', 'Bari, Puglia', 1645]
['voxeu', 'London, United Kingdom', 39498]
['MarcoDaCostaFX', 'StocksLand üíµüõ¢üîã‚õΩÔ∏è', 4299]
['jornalistavitor', 'Brasil', 35904]
['CityReport', 'Potsdam', 2055]
['Sonic_Screwup', 'London, England', 8930]
['KyleWOrton', 'London and Wirral, Britain', 31236]
['scarletmonahan', 'United Kingdom', 340772]
['randombigbird', 'Sarf London', 11063]
['cepr_org', 'London', 25079]
['maria_andy2', 'MurrayLand.', 6077]
['edwardlucas', 'London', 73443]
['mrchrisaddison', 'London', 363033]

In [25]:
#Top 10 users in a specific location (e.g., London, Tokyo) (done)

db = mysql.connector.connect(user='root', password='Admin', host='localhost', database="twitter_data_")
cursor = db.cursor()
location = 'London'  # Change this to the location you're interested in

query = f"""
   SELECT screen_name, location, followers_count FROM users 
   WHERE location LIKE '%{location}%'
   ORDER BY followers_count DESC LIMIT 10
"""
cursor.execute(query) 

users = cursor.fetchall()
for row in users:
        print(row)

r = redis.Redis(host='localhost', port=6379, db=0)

for user in users:
    user_json = json.dumps(user)

    r.sadd('Most_followed_non-verified_accounts', user_json)

print("Data loaded into Redis.")

all_users = r.smembers('Most_followed_non-verified_accounts')

users = [json.loads(user) for user in all_users]
print(len(users))
for user in users:
    print(user)

('mrchrisaddison', 'London', 363033)
('PennyRed', 'London/Los Angeles', 180215)
('edwardlucas', 'London', 73443)
('KelechiAFC', 'London, England', 46497)
('voxeu', 'London, United Kingdom', 39498)
('KyleWOrton', 'London and Wirral, Britain', 31236)
('cepr_org', 'London', 25079)
('randombigbird', 'Sarf London', 11063)
('Sonic_Screwup', 'London, England', 8930)
('jdpoc', 'London', 8344)
Data loaded into Redis.
20
['ElsaKekita', None, 6983]
['KelechiAFC', 'London, England', 46497]
['SteveBrookesMBE', 'Birmingham, England', 11534]
['jdpoc', 'London', 8344]
['PennyRed', 'London/Los Angeles', 180215]
['TommyBrain', None, 2021]
['PParzival', 'Berlin', 3796]
['IacobellisT', 'Bari, Puglia', 1645]
['voxeu', 'London, United Kingdom', 39498]
['MarcoDaCostaFX', 'StocksLand üíµüõ¢üîã‚õΩÔ∏è', 4299]
['jornalistavitor', 'Brasil', 35904]
['CityReport', 'Potsdam', 2055]
['Sonic_Screwup', 'London, England', 8930]
['KyleWOrton', 'London and Wirral, Britain', 31236]
['scarletmonahan', 'United Kingdom', 340772]
['randombigbird', 'Sarf London', 11063]
['cepr_org', 'London', 25079]
['maria_andy2', 'MurrayLand.', 6077]
['edwardlucas', 'London', 73443]
['mrchrisaddison', 'London', 363033]

In [26]:
#Most active users in terms of tweet frequency (done)

db = mysql.connector.connect(user='root', password='Admin', host='localhost', database="twitter_data_")
cursor = db.cursor()

query = """
    SELECT screen_name, location,statuses_count  FROM users 
    ORDER BY statuses_count DESC LIMIT 10
"""
cursor.execute(query) 

users = cursor.fetchall()
for row in users:
        print(row)

r = redis.Redis(host='localhost', port=6379, db=0)

for user in users:
    user_json = json.dumps(user)

    r.sadd('Most_active_accounts', user_json)

print("Data loaded into Redis.")

all_users = r.smembers('Most_active_accounts')

users = [json.loads(user) for user in all_users]
print(len(users))
for user in users:
    print(user)

('la_patilla', 'Venezuela', 5132141)
('jornalistavitor', 'Brasil', 2198168)
('scarletmonahan', 'United Kingdom', 1899479)
('detikcom', 'Jakarta, Indonesia', 1631925)
('MarcoDaCostaFX', 'StocksLand üíµüõ¢üîã‚õΩÔ∏è', 1420281)
('ElsaKekita', None, 1312568)
('TommyBrain', None, 1188780)
('SteveBrookesMBE', 'Birmingham, England', 1173650)
('IacobellisT', 'Bari, Puglia', 1093266)
('CityReport', 'Potsdam', 1014615)
Data loaded into Redis.
10
['MarcoDaCostaFX', 'StocksLand üíµüõ¢üîã‚õΩÔ∏è', 1420281]
['IacobellisT', 'Bari, Puglia', 1093266]
['la_patilla', 'Venezuela', 5132141]
['CityReport', 'Potsdam', 1014615]
['scarletmonahan', 'United Kingdom', 1899479]
['detikcom', 'Jakarta, Indonesia', 1631925]
['ElsaKekita', None, 1312568]
['jornalistavitor', 'Brasil', 2198168]
['TommyBrain', None, 1188780]
['SteveBrookesMBE', 'Birmingham, England', 1173650]